[global]
{% for global in pgbackrest_conf_host.global %}
{{ global.option }}={{ global.value }}
{% endfor %}

[{{ pgbackrest_stanza }}]
{% for stanza in pgbackrest_conf_host.stanza %}
{{ stanza.option }}={{ stanza.value }}
{% endfor %}
